@import "normalize.css";
/* ---------------------------------------------
RESET
--------------------------------------------- */
*,
*:before,
*:after {
   box-sizing: border-box;
}
html {
   font-size: 100%;
}
h1, h2, h3, h4, h5, h6, p {
   margin: 0;
}
ul, ol {
   margin: 0;
   padding: 0;
}
li {
   list-style-type: none;
}
figure {
   margin: 0;
}
a {
   text-decoration: none;
   color: inherit;
}

/* --------------------------------------------- */
/* --------------------------------------------- */
/* COMMONS */
/* .block-header > .inner,
.block-calandar > .inner,
.block-main > .inner{
  width: 88rem;
  margin: 0 auto;
} */

.lien_page_principale{
  display: flex;
  justify-content:flex-end;
  margin: 1.2rem;

}

.calandar{
  border: solid black 2px;
  margin: 0.5rem 0rem 0.5rem 0rem;

}

.containeur_calandar{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.containeur_calandar .calandar{
  width: 30%;

}
.calandar__table{
  font-size: 0.8rem;
	width: 50%;
}
.calandarMain:after{
	content: " ";
	display: block;
	clear: both;
}

.calandar .tr{
  padding: 0.5;

}
.calandar tr td {


}
.calandar tr td div{
  margin: 0.5rem 0rem 0.5rem 0rem;
  width: 4rem;
}


.calandar__weekday{
	font-weight: bold;
	color: #000;
	/* font-size: 1.2em; */
}
.calandar__day{
	/* font-size: 1.3em; */
}
.calandar__othermonth .calandar__day{
	opacity: 0.3;
}

/* .block-calandar .calandar__titre__mois{
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: space-between;
	margin: 0.5rem;
	padding: 1rem;
} */
.calandar__titre__mois h1{
  text-align: center;
}

.calandar__titre__mois .calandar_Nav{
  display: flex;
  justify-content: space-between;
}
.calandar__titre__mois a{
	padding: 0.5rem 2rem;
	margin: 0.6rem;
	background-color: #2673cb;
	border-radius: 5%;
	color: white;
}

.calandar tr td .evenement{
  position: absolute;
  background: green;

}


/* #mainDiv{
cursor: ew-resize;
background: green;
resize: both;
 overflow: scroll;
 border: 1px solid black
} */

.ui-selecting{
    background:white;
}
.ui-selected{
    background:black;
    color:#fff;
}
.help{
    border : 1px solid #1877D5;
    background : #84BEFD;
    opacity : 0.3;
}
