@import "normalize.css";
/* ---------------------------------------------
RESET
--------------------------------------------- */
*,
*:before,
*:after {
   box-sizing: border-box;
}
html {
   font-size: 100%;
}
h1, h2, h3, h4, h5, h6, p {
   margin: 0;
}
ul, ol {
   margin: 0;
   padding: 0;
}
li {
   list-style-type: none;
}
figure {
   margin: 0;
}
a {
   text-decoration: none;
   color: inherit;
}

/* --------------------------------------------- */
/* COMMONS */
.block-header > .inner,
.block-nav > .inner,
.block-main > .inner{
  /* width: 88rem; */
  margin: 0 auto;
}
.block-header {

}

.block-header .information{
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.25em;
}

.title img{
  width: 50%;
  margin: 0px;
}

/*-------------------
 nav
---------------------- */
.block-header .inner{
  display: flex;
  justify-content: flex-end;
}

.block-header .title{
  text-align: center;
  font-size: 5rem;
  margin-bottom: 2rem;
}


.block-header .cadre{
  border: 0.5rem solid;
  opacity: 0.5;
  /* padding: 2.5rem 10rem; */
  margin: auto;
  width: 30rem;
  height: 6rem;
  left: 37%;
  position: absolute;

}




/* ---------------------------------------------
body
---------------------------------------------*/
.block-main .inner{
  min-height: 100%;
}
html{
  background: url("../image/fond_ecran.1.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position:center,bottom; */


}

.background{
  position: absolute;
  padding-left: 17%;

}

.block-main .nav figure{
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 40%;
}


.block-main .nav .inner-block{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.block-main .nav figure img{
  display: block;
  margin: 0 auto;
  width: 100%;
}


.block-lien .nav {
  display: flex;
  flex-basis: 30%;
  justify-content: center;
  padding: 0 1rem 2rem;
}


.block-main .inner .block-lien{
  display: flex;
  justify-content: center;
}

.block-lien a .inner{
  display: flex;
  justify-content: center;
}




/*--------------------
article
--------------------*/


.block-article{
  padding: 0 1rem 1rem 1rem;
  margin-right: 1rem;
  /* background: rgba(235,235,235, 0.5); */

}

.block-article .zone-artivle{
  display: flex;
}

.block-article .zone-article .article{
  display: none;
}

.block-article .zone-article .is-active{
  display: flex;
  width: 100%;
  /* text-align: center; */
  padding-left: 10rem;
  padding-right: 10rem;
  flex-flow: row wrap;
}

.zone-article .article p{
  margin: 1em;
}

.block-article .zone-article .button-close{
  display: none;
}

.block-article .zone-article .button-close.is-active{
  display: flex;
  flex-direction: row-reverse;
}

/* HELVETICA
cascade peinture de chine en fond très claire

sumi-e peinture japonaise zen

faire de philo shiatsu un calandrier qui chaque mois feras apparaitre un sitation en base de donner

prévoir un esoace affin que fabrie puisse ajouter photo et texte (formulaire)

 */

 /*--------------------
 filoshiatsu
 --------------------*/
 .block-article .filoshiatsu.is-desactive{
   display: none;
 }
 .block-article .filoshiatsu {
   display: block;
 }
 .filoshiatsu figure{
  position: fixed;
  left: 80%;
  bottom:10%;
 }

.filoshiatsu figure img{
  width: 25%;
}

.block-article .filoshiatsu .content-citation{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
}


 /*------------
footer
 ------------*/

.footer{
  height: 2rem;
}
