@import "normalize.css";
/* ---------------------------------------------
RESET
--------------------------------------------- */
*,
*:before,
*:after {
   box-sizing: border-box;
}
html {
   font-size: 100%;
}
h1, h2, h3, h4, h5, h6, p {
   margin: 0;
}
ul, ol {
   margin: 0;
   padding: 0;
}
li {
   list-style-type: none;
}
figure {
   margin: 0;
}
a {
   text-decoration: none;
   color: inherit;
}

/* --------------------------------------------- */
/* COMMONS */
.block-header > .inner,
.block-nav > .inner,
.block-main > .inner{
  width: 80%;
  margin: 0 auto;
}
.block-header {

}

.block-header .information{
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.25em;
}

.title img{
  width: 50%;
  margin: 0px;
}

.block-main{
  /* width: 50%; */
  /* display: none; */
}



.block-seconde{
  /* display: none; */
  /* display: flex; */
  justify-content: center;
}

.block-seconde .categorie{
  margin: 0 2rem;
  overflow: scroll;
}

.block-seconde .liste_sitations{
  background: white;
  border: 1px solid #000;
  border-radius: 5%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  height: 150px;
  width: 250px;
  overflow: hidden;
  /* -webkit-transition: width 2s, height 2s;
  transition: width 2s, height 2s; */
}

.block-seconde .liste_sitations:hover{
  height: 200px;
  width: 400px;
}

.block-seconde .liste_sitations h3{
  margin: 0.5rem 0;
}
