

.tabs{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

}

.tabs li{
display: block;
}

.tabs a{
  display: flex;
  background-color: #fdfdfd;
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding:0.5rem 5rem 0.5rem 5rem;
  /* margin-bottom: 1rem; */
}

.tabs .active a{
  background: rgba(255,255,255,0.5);;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.tab-content{
  display: none;
}
.tabs-content .active{
  display: block;
  position: relative;
  z-index: 3;
  padding: 1rem;
  /* background: rgba(255,255,255,0.5);
  box-shadow: 0 1px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
} */
